{% load static %}
{% include 'general/main.html' %}
<head>


    {% include 'general/title_meta.html' %}
    <!-- plugin css -->
    <link href="{% static 'libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.css' %}" rel="stylesheet" type="text/css"/>


    {% include 'general/head_css.html' %}

</head>
{% include 'general/body.html' %}
<!-- Begin page -->
<div id="layout-wrapper">
{% include 'general/menu.html' %}
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Alpha Line</h4>
                            <div class="page-title-right">
                                <div class="row">
                                    <div class="col-12"><button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">Process Skip</button>
                                        <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">Unit Skip</button>
                                   <button type="button" class="btn btn-secondary btn-sm waves-effect waves-light">Log Out</button></div>
                                 </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <!-- page content start -->
               <!-- Profile start -->
                <!--  <div class="row">
                           <div class="profile-content">
                               <div class="row align-items-end">
                                    <div class="col-sm-9">
                                        <div class="d-flex align-items-end mt-6 mt-sm-0">
                                            <div class="flex-shrink-0">
                                                <div class="avatar-xxl me-3">
                                                    <img src="{% static 'images/users/avatar-6.jpg' %}" alt="" class="img-fluid rounded-circle d-block img-thumbnail">
                                                </div>
                                            </div>
                                            <div>
                                                    <h5 class="font-size-16 mb-1">Melinda Rivera</h5>
                                                    <p class="text-muted font-size-13 mb-2 pb-2"><b>ID:&nbsp;</b><span>2400</span></p>
                                                    <p class="text-muted font-size-13 mb-2 pb-2"><b>Skill Level:&nbsp;</b><span>2400</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-auto">
                                        <div class="d-flex align-items-start justify-content-end gap-2 mb-2">
                                            <div>
                                                <button type="button" class="btn btn-success"><i class="me-1"></i> Message</button>
                                            </div>

                                        </div>
                                    </div>
                               </div>

                           </div>

                  </div>
                <br>-->
                <!-- profile end -->
                <!-- try start -->
                <div class="row">
                        <div class="col-xl-4">
                             <div class="card bg-dark border-dark text-light">
                                 <div class="card-body">
                                    <div class="row g-0 align-items-center">
                                        <div class="col-md-4">
                                            <img class="card-img img-fluid" src="{% static 'images/users/avatar-6.jpg' %}" alt="Card image">
                                        </div>
                                        <div class="col-md-8">
                                            <div class="card-body">
                                                <p class="card-text">Emp Name: {{station_data.Emp_Name}}</p>
                                                <p class="card-text">Emp ID : {{station_data.EMP_ID}}</p>
                                                <p class="card-text">SKILL LEVEL: {{station_data.Emp_Skill}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                             </div>
                        </div>
                        <!-- end col -->


                        <div class="col-xl-4">
                             <div class="card bg-dark border-dark text-light">
                                    <div class="card-body">
                                         <div class="table-responsive">
                                            <table class="table table-dark mb-1">

                                            <tbody>
                                                <tr>
                                                    <td>FAB :</td>
                                                    <td>{{station_data.Fab_no}}</td>


                                                </tr>
                                            <tr>
                                                    <td>Model :</td>
                                                    <td>{{station_data.Model_No}}
                                                    </td>


                                                </tr>
                                            <tr>
                                                    <td>TPL :</td>
                                                    <td>{{station_data.TPL_No}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                        </div>
                                    </div>
                              </div>
                        </div>
                        <!-- end col -->
                        <div class="col-xl-4">
                            <div class="card bg-dark border-dark text-light">
                                 <div class="card-body">
                                    <div class="table-responsive">
                                        <table class="table table-dark mb-0">
                                            <thead>
                                                <tr>
                                                    <th><h2 class="text-white-50">Cycle Time</h2></th>
                                                    <th><h2 class="text-white-50">Actual Time</h2></th>


                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td><h1 class="text-white-50">{{station_data.Pro_Tack_Time}}</h1></td>
                                                    <td><h1 class="text-white-50">15:15</h1></td>


                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                  </div>
                            </div>
                        </div>
                        <!-- end col -->

                    </div>
                    <!-- end row -->
                <!-- try end -->

                <!-- Process content start -->
                 <div class="row">
                            <!-- process centent left part start -->
                            <div class="col-lg-3">



                                <div class="card bg-dark border-dark text-light">
                                    <div class="card-body">
                                        <h5 class="mb-4 text-light"><i class="mdi mdi-alert-circle-outline me-3"></i>Waste Capture</h5>
                                         <div class="row">
                                            <div class="col-6"><button type="button" class="btn btn-secondary btn-sm waves-effect waves-light font-size-20" >P</button>
                                            </div>
                                           <div class="col-6"><button type="button" class="btn btn-secondary btn-sm waves-effect waves-light font-size-20">Q</button>
                                           </div>
                                         </div>
                                    </div>
                                </div>

                                <div class="card">

                                    <img class="card-img-top img-fluid" src="{% static 'images/users/avatar-6.jpg' %}" alt="Card image cap">


                                </div>

                            </div>
                            <!-- process centent left part end -->
                            <!-- process centent right part start -->
                            <!-- form 1 start -->
                            <div class="col-lg-9">


                                <div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-4">Process</h4>
                                        <div class="table-responsive">
                                           <div class="table-responsive">
                                        <table class="table mb-0">

                                            <thead class="table-light">
                                                <tr>
                                                    <th>Process Type</th>
                                                    <th>Total Process</th>
                                                    <th>Completed Process</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>

                                                    <td>{{station_data.Pro_Type_Code}}</td>
                                                    <td>{{station_data.Pro_Screen_Count}}</td>
                                                    <td>{{station_data.}}</td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                        </div>
                                          <div class="card">

                                    <div class="card-body">
                                        <!-- form start -->
                                        <form action="stationbypass" method="POST">

                                            <div class="row">

                                                    <!-- left column strat -->
                                                    <div class="col-lg-6 ms-lg-auto">
                                                        <div class="mt-4 mt-lg-0">


                                                                <div class="row mb-4">
                                                                    <label for="sub_station_code" class="col-sm-3 col-form-label">Part No.</label>
                                                                    <div class="col-sm-9">
                                                                    <input name="substationcode" type="text" class="form-control" id="sub_station_code">
                                                                    </div>
                                                                </div>
                                                            <div class="row mb-4">
                                                                    <label for="sub_station_code" class="col-sm-3 col-form-label">REV No.</label>
                                                                    <div class="col-sm-9">
                                                                    <input name="substationcode" type="text" class="form-control" id="sub_station_code">
                                                                    </div>
                                                                </div>
                                                             <div class="row mb-4">
                                                                    <label for="sub_station_code" class="col-sm-3 col-form-label">Serial  No.</label>
                                                                    <div class="col-sm-9">
                                                                    <input name="substationcode" type="text" class="form-control" id="sub_station_code">
                                                                    </div>
                                                                </div>

                                                        </div>
                                                    </div>
                                                    <!-- left column end -->
                                                    <!-- right column start -->

                                                    <div class="col-lg-6 ms-lg-auto">
                                                        <div class="mt-4 mt-lg-0">
                                                                <div class="row mb-4">
                                                                    <label for="bypass" class="col-sm-3 col-form-label">test</label>
                                                                    <div class="col-sm-9">
                                                                    <select class="form-select" id="bypass" name="bypass">
                                                                            <option></option>
                                                                            <option>Bypass</option>
                                                                            <option>Live</option>
                                                                    </select>
                                                                    </div>
                                                                </div>

                                                                <div class="row justify-content-end">
                                                                    <div class="col-sm-9">
                                                                        <div>
                                                                            <button type="submit" class="btn btn-primary w-md" id="updatebtn">Update</button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                        </div>
                                                    </div>
                                                    <!-- right column end-->


                                            </div>
                                        </form>
                                        <!-- form end -->
                                    </div>
                                    <!-- end card body -->
                                </div>

                                    </div>
                                </div>



                            </div>
                            <!-- end col -->
                            <!-- form 1 end -->
                            <!-- process centent left part end -->

                 </div>
                 <!-- end row -->
                <!-- Process content end -->

                <!-- page content end -->
            </div>
            <!--End  container-fluid -->
        </div>
        <!-- End Page-content -->
        {% include 'general/footer.html' %}
    </div>
    <!-- end main content-->
</div>
<!-- END layout-wrapper -->
{% include 'general/right_side_bar.html' %}
{% include 'general/vendor_script.html' %}
<script src="{% static 'js/app.js' %}"></script>
</body>
</html>